<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/loginStyle.css">
</head>
<body>
    <div class="header">
      <br>
      <br>
      <h1>Welcome to Bula!</h1>
    </div>
    <div class="header">
      <h3>Skillizens without Borders</h3>
    </div>
    <div class="container">
        <form action="/login" method="post">
            <h1>Login</h1>
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            <div class="signup-link">
                Don't have an account? <a href="/register">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>


